@import url("https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800,900");
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
body {
  background-color: #f0f0f0;
  bottom: 0;
}

.logo {
  max-width: 100px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.logo-footer {
  max-width: 200px;
}

#logo, #register-btn, #login-btn {
  text-align: center;
}

.navbar {
  background-color: #1e7438;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 100;
}

#login {
  display: none;
}

.banner {
  height: 450px;
  background-color: #f4ff94;
  padding-top: 100px;
  color: #1e7438;
}

.banner-opening {
  padding-left: 50px;
  padding-right: 20px;
  padding-top: 50px;
}
.banner-opening p {
  font-size: 14px;
}

.slider-circles {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
  margin-right: 5px;
  border-style: solid;
  border-color: #1e7438;
}

.slider-item {
  max-width: 100%;
}

.carousel.slide.col-md-8.row {
  height: 200px;
}

.carousel-inner {
  max-height: 100%;
}

.slider-control {
  margin-top: -30px;
  height: 50px;
}

.arrow-slider {
  z-index: 5;
}

ol.carousel-indicators {
  position: relative;
}
ol.carousel-indicators li {
  background-color: #1e7438;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(30, 116, 56)' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(30, 116, 56)' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.menu-display {
  background-color: white;
  margin-top: -50px;
  height: 75px;
  margin-right: auto;
  margin-left: auto;
  z-index: 50;
  justify-content: space-evenly;
  position: relative;
}

.menu-item {
  margin-right: 10px;
  vertical-align: middle;
}

.menu-item.active, .menu-item:hover {
  border-bottom: solid;
  border-color: #1e7438;
  margin-top: -10px;
  cursor: pointer;
}

.menu-image {
  padding-top: 5px;
}
.menu-image img {
  max-width: 40px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.menu-text {
  font-size: 14px;
  text-align: center;
}

.content-area {
  background-color: #f0f0f0;
}

.content-body {
  background-color: white;
  margin-top: 30px;
}

.footer {
  background-color: #1e7438;
  margin-top: 40px;
  color: white;
  padding-top: 50px;
}

.footer-handler {
  margin-right: auto;
  margin-left: auto;
}

.menu-footer {
  font-size: 14px;
}

.copyright-footer {
  font-size: 14px;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 0;
}

.btn.btn-outline-success {
  background-color: white;
  color: #1e7438;
  font-size: 14px;
}

.btn.btn-outline-success:hover {
  color: black;
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
}

.btn.btn-outline-success.login {
  background-color: #1e7438;
  color: white;
  margin-right: 10px;
}

.btn.btn-outline-success.login:hover {
  background-color: white;
  color: #1e7438;
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
}

.form-control.mr-sm-2.search {
  background-color: #1e7438;
  color: white;
  font-size: 14px;
  border-color: white;
}

input.form-control.mr-sm-2.search::placeholder {
  color: #1e7438;
  font-size: 14px;
  background-color: white;
}

input.form-control.mr-sm-2.search:focus {
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
}

.register-body {
  padding-top: 50px;
  padding-left: 100px;
}

.register-page {
  height: 300px;
}
.register-page div .banner-opening {
  padding-top: 0;
}

.form-area {
  background-color: white;
  margin-top: -100px;
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.5);
}

.form-centering {
  padding-top: 30px;
  padding-bottom: 50px;
}
.form-centering form {
  font-size: 16px;
  color: #1e7438;
}

.form-header {
  text-align: center;
  font-size: 20px;
  color: #1e7438;
}

#register-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

p#register-to-login {
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
}

label {
  margin-bottom: 0;
}

.info-header {
  font-size: 20px;
  margin-bottom: 5px;
}

.info-content {
  font-size: 16px;
  margin-bottom: 50px;
}

.black {
  background-color: black;
}

.green {
  background-color: #1e7438;
}

.product-title {
  border-bottom: solid;
  border-top: solid;
  border-color: #1e7438;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

.content-info {
  height: 200px;
}

.header-content {
  display: flex;
}

.test {
  margin-top: 10px;
  display: flex;
}

.test:hover {
  background-color: #1e7438;
  color: white;
  cursor: pointer;
}

.content-info {
  font-size: 13px;
}
.content-info .th-content {
  text-align: center;
  margin: auto;
}

.content-table {
  font-size: 14px;
}

.wrapper-content-list {
  margin-bottom: 50px;
  margin-top: 30px;
}

.description-wrapper {
  margin-top: 20px;
  margin-bottom: 50px;
}
.description-wrapper .wrapper-content-description {
  margin-bottom: 10px;
}

.product-image img {
  max-height: 200px;
  max-width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.pagination .page-item .page-link {
  color: #1e7438;
}
.pagination .page-item.active .page-link {
  color: white;
  background-color: #1e7438;
}

.time {
  text-align: right;
}

.description, .offer {
  background-color: #ffe657;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  margin-top: 5px;
  text-align: justify;
}

.offer {
  background-color: #f4ff94;
}

.offer.declined {
  border: solid;
  border-color: #ac1f1f;
}

.offer.accepted {
  border: solid;
  border-color: #1e7438;
}

.status {
  display: block;
}

.status.status-declined {
  background-color: #ac1f1f;
  text-align: center;
  color: white;
}

.status.status-accepted {
  background-color: #1e7438;
  text-align: center;
  color: white;
}

input#response-offer {
  background-color: #f4ff94;
  border-radius: 5px;
}

.transaction-body {
  margin-top: -250px;
  padding-top: 30px;
  font-size: 20px;
  width: 50%;
  padding-bottom: 50px;
}
.transaction-body .transaction-title {
  text-align: center;
}
.transaction-body .transaction-form-wrapper {
  margin-right: auto;
  margin-left: auto;
}
.transaction-body .small-detail {
  font-size: 14px;
  margin-top: 20px;
}
.transaction-body .payment-method-option {
  background-color: beige;
  border-radius: 5px;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.transaction-body .transaction-product-detail {
  border: solid;
  border-color: #1e7438;
  background-color: #f4ff94;
  border-radius: 5px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.transaction-body .btn.btn-outline-success {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}
.transaction-body .rincian {
  padding-right: 0;
}

.step-2 {
  display: none;
}
.step-2 .test2 {
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #1e7438;
}

.guide-title {
  text-align: center;
  margin-bottom: 30px;
}

.guide-content {
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: justify;
  font-size: 16px;
  padding-right: 50px;
  border: solid;
  border-width: 1px;
  border-color: #1e7438;
  border-radius: 10px;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.info {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999999;
  margin: 1.5rem;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  font-size: 10px;
  font-size: calc(5px + 0.4vw);
}

a {
  text-decoration: none;
  color: rgba(225, 255, 255, 0.8);
}

/* Slider style */
.cd-slider {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
  font-size: 10px;
  font-size: calc(5px + 0.4vw);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #fff;
}
.cd-slider a {
  text-decoration: none;
  color: rgba(225, 255, 255, 0.8);
}

.cd-slider.ie9 nav div span {
  display: none;
}

.cd-slider ul li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: visibility 0s 0.6s;
}

.cd-slider ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  width: 135vh;
  height: 135vh;
  border: solid rgba(0, 0, 0, 0.2);
  border-width: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: border-width 0.4s 0.6s;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 50% 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  mix-blend-mode: lighten;
  opacity: 0;
  transform: scale(1.2);
  transition: opacity 0.4s 0.6s, transform 0.4s 0.6s;
}

.content blockquote {
  position: absolute;
  bottom: 30%;
  left: 4%;
  z-index: 2;
  max-width: 45%;
}

blockquote p {
  font-size: 4rem;
  margin-bottom: 2rem;
}

blockquote span {
  font-size: 1.4rem;
}

/* current slide
---------------------------------*/
.cd-slider li.current_slide {
  visibility: visible;
}

.cd-slider li.current_slide::before {
  border-width: 16rem;
}

.cd-slider li.current_slide .content {
  opacity: 1;
  transform: scale(1);
}

/* nav
---------------------------------*/
nav div {
  position: absolute;
  top: 90%;
  left: 4%;
  width: 5rem;
  height: 5rem;
  margin-top: -2.5rem;
  list-style: none;
}

nav div:last-of-type {
  left: auto;
  right: 4%;
}

.prev, .next {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 100%;
  transition: box-shadow 0.3s;
}

.prev::before, .prev::after, .next::before, .next::after {
  content: "";
  position: absolute;
  left: 43%;
  background: #fff;
  width: 0.4rem;
  min-width: 3px;
  border-radius: 3px;
  height: 34%;
}

.prev::before {
  transform: rotate(45deg);
  top: 24%;
}

.prev::after {
  transform: rotate(-45deg);
  bottom: 24%;
}

.next::before, .next::after {
  left: auto;
  right: 43%;
}

.next::before {
  transform: rotate(-45deg);
  top: 24%;
}

.next::after {
  transform: rotate(45deg);
  bottom: 24%;
}

.prev:hover, .next:hover {
  box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.15);
}

nav > div > span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 100%;
  z-index: 5;
  pointer-events: none;
  will-change: width, height;
  transform: translate(-50%, -50%);
  transition: width 0.6s, height 0.6s;
}

.for-banner.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.row.navbar {
  margin: 0;
}

.testtest {
  background-color: #999127;
}

/*# sourceMappingURL=style.css.map */
